<div class="container">
	<div class="row">
    <div class="col-lg-12 parent">
        <div class="col-lg-11 col-sm-offset-1 middle_body">
        	<div class="mmad_info">
            <span style="text-align:left;font-size:25px;">Welcome To Maharashtra Mandal Abu Dhabi</span>
			<p>Maharashtra Mandal Abu Dhabi (MMAD) is a group of Marathi speaking Indian families. 
			It organizes social and cultural events for the Marathi speaking people in the Emirate of Abu Dhabi. 
			Its members are professionals in diversified business fields and well respected in their business domain. 
			Since its formation in 1977, MMAD focus is to retain & nurture the cultural values & ethics within the young generation.
			 MMAD program helps individuals (adults and children) to develop their social relationship, group behaviors, personality development, leadership qualities, sports acumen, & stress relieving through entertainment.
			 The overall activity helps our members to excel in their personal life as well as professional life.</p>
			 <span style="text-align:left;font-size:18px;">Upcoming Events</span>
			 
        </div>
		<div class="col-lg-3">
		<div class="upcoming_events">
          <img src="images/fort.jpg" class="img-responsive" style="height:120px;">
			 </div>
			 </div>
			 <div class="col-lg-3">
			 <div class="upcoming_events">
			 	<img src="images/logo.png" class="img-responsive" style="height:120px;">
			 </div>
			 </div>
			 <div class="col-lg-3">
			 <div class="upcoming_events">
			 	<img src="images/fort.jpg" class="img-responsive" style="height:120px;">
			 </div>
			 </div>
			 <div class="col-lg-3">
			 <div class="upcoming_events">
			 	<img src="images/fort.jpg" class="img-responsive" style="height:120px;">
			 </div>
    </div>
</div>
</div>

